html {
    font-family: Verdana, Arial, sans-serif;
}

body {
    background-color: #e1e1e1;
    margin: 0px;
}

h1 {
    font-family: 'Petit Formal Script', cursive;
    font-weight: 700;
    font-size: 40px;
    background-color: #0091ae;
    color: #ffffff;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    -webkit-box-shadow: 0px 5px 10px #777;
    -moz-box-shadow: 0px 5px 10px #777;
    box-shadow: 0px 5px 10px #777;
    text-align: center;
}

h1 div {
    height: 100px;
}

h1 div img {
    width: 100px;
    vertical-align: middle;
}

h2 {
    font-size: 18px;
}

h2.predh2 {
    margin-top: 50px;
}

div.box {
    padding-bottom: 200px;
}

div.center {
    margin: auto;
    width: 700px;
    padding-top: 50px;
}

div.main {
    margin: auto;
}

div.tablebox {
    margin: auto;
    width: 900px;
}

div.notification {
    margin: 50px 0px 10px 50px;
}

div.notification h3 {
    color: red;
}

div.info {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding: 100px 100px 0px 0px;
}

input.search {
    margin-left: 300px;
    font-size: 15px;
    background:#405dca;
    color:#ffffff;
    text-align:center;
    display:block;
    text-decoration:none;
}

table.main {
    display: inline-block;
    border-top: 1px #2b2b2b solid;
    border-bottom: 1px #2b2b2b solid;
    border-collapse: collapse;
    text-align: center;
    width: 400px;
    height: 160px;
    margin: 20px 10px;
}

table.main thead tr th {
    background-color: #c9cdcf;
}

table.main thead tr {
    border-bottom: 1px #2b2b2b solid;
}

table.main tbody tr:nth-child(odd) {
    background-color: #ccc;
}

td.rsid, th.rsid {
    text-align: center;
    width: 40%;
}

dl {
    padding: 5px;
}

dt {
    padding: 10px 0px 10px 0px;
}

dt.warn {
    margin-top: 50px;
    color: red;
}

dd {
    margin-top: 10px;
}

dd textarea {
    width: 200px;
    height: 250px;
}

p.sbutton {
}

p.sbutton a {
    margin: 0px 80px 0px auto;
    width:90px;
    padding:8px;
    background:#405dca;
    color:#ffffff;
    text-align:center;
    display:block;
    text-decoration:none;
}

p.sbutton a:hover {
    text-decoration:none;
    background:#364ea5;
}

p.sbutton input {
    margin-left: 250px;
}

input.upload {
    float: right;
}

input.mail {
    width: 250px;
}
