{% from "_formhelpers.html" import render_field %}
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" type="text/css" />  
        <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
    </head>

    <body>
        <div class="box">
            <h1>
                <div>
                1000 Genomes
                <img src="{{ url_for('static', filename='index/1G_logo.png') }}" />
                Visualization
            </div>
            </h1>
            <div class="center">
                <dl>
                    <form method=post action="/" class="hform" name="form">
                        <dt>
                            <label>rs number [Ex. 186143557]:</label>
                        </dt>
                        <dd>
                            <input id="rsid" name="rsid" type="text" />
                        </dd>

                        <p class="sbutton">
                            <input type="submit" name="btn" value="Search by rsID">
                        </p>

                        <dt class="warn">
                            <label>Chromosome number and the position should be entered together.</label>
                        </dt>
                        <dt>
                            <label>chromosome [Ex. 1]:</label>
                        </dt>
                        <dd>
                            <input id="chrom" name="chrom" type="text" />
                        </dd>

                        <dt>
                            <label>position [Ex. 1]:</label>
                        </dt>
                        <dd>
                            <input id="position" name="position" type="text" />
                        </dd>

                        <p class="sbutton">
                            <input type="submit" name="btn" value="Search by position and chromosome number">
                        </p>
                    </form>
                </dl>
                {% if form[1] %}
                    <h2>Data does not exist, or ID is incorrect.</h2>
                {% endif %}
            </div>

            <div class="info">
                <a href="/prediction">[In alpha test] Which ethnic group am I ?</a>
            </div>
        </div>
    </body>
</html>
